* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  background: transparent;
  font-family: inherit;
}
a{
  text-decoration: none;
}
a img {
  border: none;
}

button,
a {
  cursor: pointer;
  color: inherit;
}

textarea {
  resize: none;
}

button,
textarea,
select {
  appearance: none !important;
  border-radius: 0;
}


/* --------------------------------------- css reset --------------------------------------- */


/*
Színek: 
#8cb48f ; #639463; #f6dba8
*/

html {
  scroll-behavior: smooth;
}

body {
  background-image: linear-gradient(#f6dba8, #639463, #f6dba8);
  font-family: "Cormorant"
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 150px;
  margin-right: 150px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 90%;
  height: 70px;
  border-bottom: 4px solid #639463;
  background-color: #f6dba8;
  z-index: 99;
  font-family: "Poppins";
  font-size: 20px;
  color: #639463;
}

header a {
  width: 295px;
  padding-right: 10px;
  text-align: right;
}

li {
  display: inline;
  padding: 0 20px;
}

.logo {
  height: 60px;
}

section {
  min-height: 100vh;
  padding-top: 70px;
  width: 100%;
}


/* --------------------------------------- about --------------------------------- */

#about {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#about p.title {
  text-align: center;
  font-size: 40px;
  font-family: "Poppins";
}

#about .flipCards {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

#about .flipContainer {
  position: relative;
  width: 400px;
  height: 600px;
  transition: 1s;
  transform-style: preserve-3d;
}

#about .flipFront, #about .flipBack {
  position: absolute;
  width: 100%;
  height: 100%;
}

#about .flipFront {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color:  #8cb48f;
  border: 4px solid #639463;
}

#about .flipFront img{
  width: 392px;
  height: 250px;
  margin-bottom: 35px;
  padding: 10px;
  object-fit: cover;
  /* border-bottom: 4px solid #639463; */
}

#about .flipFront h1{
  align-self: center;
  width: 300px;
  margin-bottom: 15px;
  border-top: 4px dashed #639463;
  border-bottom: 4px dashed #639463;
  padding: 20px 0;
  font-size: 40px;
}
 
#about .flipBack {
  display: flex;
  flex-direction: column;
  padding: 15px;
  transform: rotateY(180deg);
  background-color: #8cb48f;
  border: 4px solid #639463;
  text-align: left;
}

#about .flipBack h2 {
  text-align: center;
  margin-bottom: 10px;
}

#about .flipBack h2.borderTop {
  width: 80%;
  border-top: 4px solid #639463;
  align-self: center;
  padding-top: 10px;
}

#about .flipBack p {
  margin-bottom: 20px;
}

#about .flipOuter:hover .flipContainer {
  transform: rotateY(180deg);
}

/* --------------------------------------------------welcome----------------------------------- */

#welcome{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.noImg {
  display: none;
}

img.showImg {
  display: block;
  opacity: 0.8;
  transition: all 0.5 ease;
}

.show {
  position: relative;
  height: 700px;
  width: 1200px;
}

.show img{
  width: 100%;
  height: 700px;
  margin: auto;
  
}

.welcometext {
  position: absolute;
  top: 0;
  left: 0;
  margin: 85px 70px;
  color: #FFF;
  font-family: "Poppins";
}

.welcometext p.text1 {
  font-size: 80px;
  letter-spacing: 0.05em;
  border-bottom: 3px solid #8cb48f;
}

.welcometext p.text2 {
  font-size: 25px;
  letter-spacing: 0.05em;
  margin: 5px;
}


#welcome a {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 30px;
  width: 200px;
  border: 4px solid #FFF;
  border-radius: 5px;
  color: #FFF;
  background-color:  #8cb48f;
  font-family: "Poppins";
  text-align: center;
  padding: 20px;
  z-index: 10;
  font-size: 20px;
  letter-spacing: 0.02em;
}

#welcome button {
  position: absolute;
  width: 40px;
  height: 40px;
  border: 2px solid #FFF;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  color: #FFF;
  font-size: 20px;
  z-index: 99;
}

#leftBtn {
  left: 0;
  margin-left: 10px;
}

#rightBtn {
  right: 0;
  margin-right: 10px;
}

/* -------------------- contacts ------------------- */

#contact{
  display: flex;
  justify-content: center;
}

.table th{
  background-color: #8cb48f;
}

.table th, td{
  border: 4px solid #639463;
  padding: 10px;
}

.table{
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 25px;
  line-height: 1.5em;
}

.socialicons{
  width:auto;
  height:800px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  right: 0;
  bottom: 0;
  padding-left: 10px;
  /* justify-content: right; */
}

.socialicons img{
  height: 50px;
  width: 50px;
}


/* ---------------------------- csatlakozz ------------------------ */

#cta {
  display: flex;
  /* flex-direction: column; */
  /* margin: 150px; */
  align-items: center;
  justify-content: space-around;
}

.cta {
  display: flex;
  flex-direction: column;  
  padding: 30px;
  width: 800px;
}

#cta p.title{
  font-size: 50px;
  font-family: "Poppins";
  margin: 40px 0;
}

#cta p.text {
  font-size: 25px;
  max-width: 500px;
  /* margin-top: 60px; */
  line-height: 50px;
}


form {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 560px;
  border-radius: 5%;
  background-color: #fdeed0;
  font-family: "Poppins";
  /* margin-top: 50px; */
  }

input {
  display: flex;
  flex-direction: column;
  background-color: #f6dba8;
  border-radius: 5%;
  width: 450px;
  height: 90px;
  margin: 20px;
  padding: 10px;
  font-size: 20px;
  /* border: #215321 2px solid; */
}

form button {
  /* display: flex;
  justify-content: center; */
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: 70px;
  border-radius: 5%;
  background-color: #639463;
  margin-bottom: 20px;  
  font-size: 25px;
  text-transform: uppercase;
}